html
  head
    title='Mi plantilla de medidor en Pug JS'
  body
    form(action="/api/productos" method="post")
      label Title
      input(type="text", name="title")
      br
      label Price
      input(type="text", name="price")
      br
      label Thumbnail
      input(type="text", name="thumbnail")
      br
      input(type="submit" value="Subir producto")
