<h1>Product Creation</h1>
<form id="form-product">
  <div>
    <label>Title</label>
    <input type="text" name="title" id="title"/>
  </div>
  <div>
    <label>Price</label>
    <input type="text" name="price" id="price"/>
  </div>
  <div>
    <label>Thumbnail</label>
    <input type="text" name="thumbnail" id="thumbnail"/>
  </div>
  <input type="submit" value="Subir producto" />
</form>
<div id="products"></div>
<br/>
<hr/>
<br/>
<div>
  <h1>Centro de mensajes</h1>
  <input type="text" placeholder="email@gmail.com" id="email"/>
  <hr/>
  <div id="messages">

  </div>
  <input type="text" placeholder="Ingrese su texto" id="message"/>
  <button>Enviar</button>
</div>