<h1>Product Creation</h1>
<form action="/api/productos" method="POST" enctype="application/x-www-form-urlencoded">
  <div>
    <label>Title</label>
    <input type="text" name="title" />
  </div>
  <div>
    <label>Price</label>
    <input type="text" name="price" />
  </div>
  <div>
    <label>Thumbnail</label>
    <input type="text" name="thumbnail" />
  </div>
  <input type="submit" value="Subir producto" />
</form>